@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-dots {
  bottom: 15px !important;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 0;
  li {
    margin: 0 5px !important;
    button {
      background-color: #fff !important;
      border: none !important;
      border-radius: 50% !important;
      cursor: pointer !important;
      height: 20px !important;
      outline: none !important;
      padding: 0 !important;
      width: 20px !important;
      &:before {
        content: "";
        background-color: #333 !important;
        border-radius: 50% !important;
        display: block !important;
        height: 20px !important;
        width: 20px !important;
        font-size: 20px !important;
      }
    }

    &.slick-active button {
      &:before {
        opacity: 1 !important;
        background-color: #065DA8 !important;
        color: #065DA8 !important;
      }
    }

    button:hover {
      &:before {
        background-color: #065DA8 !important;
        color: #065DA8 !important;
      }
    }
  }
}